

<div class="container text center" style="background-image: url(https://placedog.net/640/480?random); background-size: cover;">
  <div class="container col-2 d-flex justify-content-center align-items-center flex-column">
    <%= image_tag "#{current_user.photo.attached? ? "#{cl_image_path current_user.photo.key, crop: :fill}" : 'https://source.unsplash.com/eRDnW-NzbKc/1600x900'}", class: "avatar-very-large-bordered m-2" %>
    <div class="d-flex justify-content-space-around">
      <a class="btn btn-success m-3" href="/users/edit" style="width: 100px">edit profile</a>
      <a class="btn btn-success m-3" href="/" style="width: 100px">adopt a pet</a>
      <a class="btn btn-success m-3" href="/pets/new" style="width: 100px">donate a pet</a>
      <a class="btn btn-success m-3" href=<%="/users/#{current_user.id}/all_adoptions"%> style="width: 100px">user history</a>
    </div>
  </div>
</div>

<hr>

<div class="border border-dark rounded my-4 shadow">
  <h2 class="m-3 text-center">About <%= current_user.first_name.capitalize %></h2>
  <hr>
  <ul>
    <li><p class="m-3"><strong>First name: </strong><%=current_user.first_name%></p></li>
    <li><p class="m-3"><strong>Last name: </strong><%=current_user.last_name%></p></li>
    <li><p class="m-3"><strong>Date of birth: </strong><%=current_user.date_of_birth%></p></li>
    <li><p class="m-3"><strong>Address: </strong><%=current_user.address%></p></li>
    <li><p class="m-3"><strong>Email: </strong><%=current_user.email%></p></li>
    <li><p class="m-3"><strong>User description: </strong><%=current_user.description%></p></li>
  </ul>
</div>
<hr class="m-3">
  <div class="border border-dark rounded my-4 shadow">
      <div class="container" style="mt-3">
          <h4 class="m-3 text-center">pending adoption requests</h4>
          <table class="table">
            <% if @pets_adoptions.empty? %>
              <p style="text-align: center">--currently, there are no pending adoption requests for <%= current_user.first_name.capitalize %>--</p>
            <% else %>
              <p style="text-align: center; color: red; font-weight: bolder;"><strong>--You received an adoption resquest!--</strong></p>
              <thead>
                <tr>
                  <th scope="col">pet name</th>
                  <th scope="col">requested by</th>
                  <th scope="col">e-mail</th>
                  <th scope="col">message</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <% @pets_adoptions.each do |pet_adoption| %>
                  <% pet_adoption.each do |adoption| %>
                    <tr>
                      <td><%= adoption.pet.name %></td>
                      <td><%= adoption.user.first_name %></td>
                      <td><%= adoption.user.email %></td>
                      <td><%= adoption.content %></td>
                      <td><%= link_to "check request", user_adoption_show_path(user_id: adoption.id), method: :get %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
    <% end %>
  </div>

<div class="border border-dark rounded my-4 shadow">
  <h4 class="m-3 text-center">pets offered by <%= current_user.first_name.capitalize %></h2>
  <hr>
  <% if @user.pets.empty? %>
    <p style="text-align: center">--currently, no pets are in offer by <%= current_user.first_name.capitalize %>--</p>
  <% else %>
  <div class="container my-3">
    <div class="cards">
      <% @user.pets.each do |pet| %>
        <a href="<%= " /pets/#{pet.id}" %>">
          <div class="card-category"
            style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path pet.photo.key, height: 300, crop: :fill if pet.photo.attached? %>')">
            <%= pet.name %>
          </div>
        </a>
        <% end %>
    </div>
  <% end %>
</div>

