
<div class="container-fluid my-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card p-3">
        <div class="row justify-content-center">
          <div class="col-12">
            <h1 class="heading text-center">Hello, I`m: <%= @pet.name.capitalize %>!</h1>

            <div class="container d-flex justify-content-center">
              <%= image_tag "#{@pet.photo.attached? ? "#{cl_image_path @pet.photo.key, crop: :fill}" : 'default pet photo.jpg'}", class: "avatar-very-large-bordered m-2" %>
            </div>
            <p></p>
            <h5>about <%= @pet.name.capitalize %>:</h5>

            <ul class="list-group">
              <li class="list-group-item">type: <%= @pet.animal_type %></li>
              <li class="list-group-item">owner: <%= @pet.user.first_name%></li>
              <li class="list-group-item">age: <%= @pet.age %></li>
              <li class="list-group-item">more: <%= @pet.description %></li>
            </ul>
            
            <div style="display: flex; justify-content: space-evenly; align-items: center;">
              <%= link_to "adopt", new_pet_adoption_path(pet_id: @pet.id), class: "btn btn-success my-3", style: "width: 100px; margin: 15px;" %>
              <a class="btn btn-success", style="width: 100px; margin: 15px;" onclick="history.back(-1)">Back</a>
              <%= link_to "edit", edit_pet_path(@pet.id), class: "btn btn-success my-3", style: "width: 100px; margin: 15px;" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
