<div class="container-fluid my-5">
  <div class="row justify-content-center">
    <div class=" col-lg-6 col-md-8">
      <div class="card p-3">
        <div class="row justify-content-center">
          <div class="col-12">
            <h2 class="heading text-center">Forgot your password</h2>
          </div>
        </div>

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do
          |f| %>
          <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" } %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Send me reset password instructions" %>
              <%= render "devise/shared/links" %>
            </div>
            <% end %>

      </div>
    </div>
  </div>
</div>